/* Reset style */
*{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family:  IRANSans;
}


/* Variables */
:root{
    --primary-color: #21aa58;
    --text-color:#252a3c;
    --info-color:#686c79;
    --border-color: #f7f7f7;
    --bg-white:#fff;
    --bg-main-color: #eeefff;
    --ripple-color:#e7e7e758;
    --bg-gray:#ebecf2;
    --black: #000;
    --size-xs: 376px;
    --size-sm: 578px;
    --size-md: 768px;
    --size-lg: 992px;
    --size-xl: 1200px;
    --shadow-box: 0px 3px 4px #6164750f, 0px 3px 3px #6164750a, 0px 1px 8px #6164751f;
}


/* header */
.header{
    padding: 20px 32px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--bg-white);
    z-index: 100;
}

.header_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 28px;
    margin: 0 auto;
}

@media (min-width:992px) {
    .header{
        padding: 30px 0;
    }

    .header_container{
        justify-content: flex-start;
    }
}

.header__logo{
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__logo a{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width:992px) {
    .header__logo{
        order: -1;
        }
}

.header_menu_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
}

@media (min-width:992px) {
    .header_menu_icon{
       display: none;
        }
}

.header__menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__menu .header_menu_icon svg{
    fill: var(--primary-color);
}

.header__menu__nav{
    display: none;
}

@media (min-width:768px) {
    .header__menu__nav{
        display: flex;
        align-items: center;
        gap: 32px;
    }

    .header__menu__nav .header__menu__nav__items{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        position: relative;
    }

    .header__menu__nav .header__menu__nav__items .header__menu__nav__items__link {
        font-size: 16px;
        font-weight: 400;
    }

    .header__menu__nav__items__icon{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        cursor: pointer;
    }

    .header__menu__nav__items__dropdown{
        background-color: var(--bg-white);
        border: 2px solid var(--border-color);
        border-radius: 10px;
        position: absolute;
        top: 30px;
        padding: 10px;
        width: 150px;
        display: none;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    .header__menu__nav__items__dropdown ul{
        display: flex;
        flex-direction: column;
        gap: 15px;
        font-weight: 100;
        cursor: pointer;
    }

    .header__menu__nav__items:hover  .header__menu__nav__items__dropdown {
        display: block;
    }

    .header__menu__nav__items__dropdown ::before{
        content: "";
        height: 20px;
        background-color: red;
        position: absolute;
        top: -20px;
        right: 0;
        left: 0;
        opacity: 0;
    }
}

main{
   margin: 70px 0 0;
}

@media (min-width:992px) {
    main{
        margin: 90px 0 0;
    }
    
}

/* Hero */

.hero{
    display: flex;
    height: 80vh;
    flex-direction: column;
}

/* @media (min-width:587px){
    .hero{
        max-width: 1300px;
    }
} */

.hero__info{
   flex: 1;
   order: 2;
   height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 20px;
}

.hero__info__inner{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.hero__info__inner h1{
    color: var(--text-color);
}

.hero__info__inner p{
    color: var(--info-color);
}

.hero__info__cta{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.hero__image{
   flex: 1;
   order: 1;
   width: 198px;
    height: 100%;
    margin-right: 130px;
    /* background: url("../images/newheroimage.png") center center no-repeat; */
    /* background-size: cover; */
}

.hero__image img{
    width: 100%;
}

@media (min-width:992px) {
    .hero{
        height: 60vh;

    }

    .hero__info{
        padding: 0;
        padding-left: 80px;
    }
     
    .hero__info__inner{
        /* margin-right: 150px; */
        justify-content: space-between;
    }

    .hero__info__inner h1{
        font-size: 29px;
        font-weight: 700;
        line-height: 140%;
    }
    
    .hero__info__inner p{
        font-size: 18px;
    }
}

@media (min-width:578px) {
    .hero{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .hero__info{
        order: 1;
    }
    .hero__info__cta btn{
       width: 200px;
    }

    .hero__info__cta{
        justify-content: flex-start;
    }
}

.hero__info__form{
    display: flex;
    gap: 20px;
}

.hero__info__form input[type="tel"]{
    flex:0.5;
}

.hero__info__form button{
   flex-basis: 120px;
}

.appurls{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 48px;
    padding: 80px 0;
}

.appurls__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width:578px) {
    .appurls{
        flex-direction: row;
    }
}
.appurls__item a{
    display: flex;
    justify-content: center;
    align-items: center;
}

.appurls__item img{
    display: block;
    width: 200px;
}

/* services */
.services{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.services__card{
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 29%;
    max-width: 321px;
    margin: 1rem;
}
@media (min-width:578px) {
    .services__card{
        flex-direction: row;
        gap: 10px;
    }
}

.services__card__pic{
    display: flex;
    width: 62px;
    height: 62px;
}

.services__card__info h4, 
.services__card__info h5{
    text-align: center;
}

.services__card__info h5{
    display: none;
}

@media (min-width:578px) {
    .services__card__info h5{
        display: block;
    }
    .services__card__info h4{
        text-align: right;
        font-size: 18px;
        font-weight: 500;
    }
    .services__card__info h5{
        text-align: right;
        font-size: 16px;
        font-weight: 300;
    }
}


/* carousel */

.carousel{
    display: flex;
    margin: 60px 0;
    padding: 0 10px;
}

@media (min-width:578px){
    .carousel{
        padding: 0;
    }
}

.carousel img{
    border-radius: 10px;
    width: 100%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

/* specifications */

.specifications{
    display: flex;
    flex-direction: column;
}

.specifications__main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

@media (min-width:578px) {
    .specifications__main{
       flex-direction: row;
    }
}
.specifications__main__pic{
    display: flex;
   flex: 1;
}

.specifications__main__pic img{
    width: 100%;
    object-fit: cover;
}

.specifications__main__info{
    flex: 1;
    padding: 20px;
}

.specifications__main__info h2,
.specifications__main__info p{
    text-align: justify;
}

.specifications__main__info h2{
    font-size: 18px;
    margin-bottom: 25px;
}

.specifications__main__info p{
    font-weight: 300;
    padding-left: 0;
}

@media (min-width:578px) {
    .specifications{
        display: flex;
    }
    .specifications__main__pic{
        flex: 0.5;
     }
     .specifications__main__info{
        flex: 0.5;
        padding: 20px 50px;
    }
    .specifications__main__info h2{
        font-size: 24px;
        margin-bottom: 25px;
    }
    .specifications__main__info p{
        padding-left: 90px;
    }
}

.specifications__hints{
    display: flex;
    padding: 15px;
   flex-wrap: wrap;
   justify-content: space-between;
   width: 100%;
   max-width: var(--size-xl);
   margin: 0 auto;
   margin-top: 0;
   gap: 10px;
}

@media (min-width:578px){
    .specifications__hints{
        margin-top: -80px ;
    }
}
.specifications__hints__box{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

@media (min-width:578px){
    .specifications__hints__box{
        width: 300px;
    }
}

.specifications__hints__box__avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-gray);
    border-radius: 10px;
    padding: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.specifications__hints__box__headline{
    font-size: 18px;
    text-align: right;
}

.specifications__hints__box__subline{
    font-size: 14px;
    text-align: right;
    font-weight: 300;
}


/* Perks */
.perks{
    display: flex;
    flex-direction: column;
   padding: 20px;
    background-color: var(--bg-main-color);
    gap: 28px;
}

@media (min-width:578px) {
    .perks{
        justify-content: center;
        align-items: center;
    }
}

.perks__headline{
    margin: 0;
    font-size: 32px;
}

.perks__subline{
    font-weight: 300;
    font-size: 20px;
    text-align: center;
}
/* cta= call to action */
.perks__cta{ 
    width: 157px;
    margin: 0 auto;
}

.perks__video{
    max-width: var(--size-xl);
}

.perks__video video{
    width: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.perks__list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.perks__list__item{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    background-color: var(--bg-white);
    padding: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

@media (min-width:578px) {
    .perks__list__item{
        width: 49%;
    }
}
.perks__list__item h4,
.perks__list__item h5{
    text-align: right;
}

.perks__list__item h5{
    font-weight: 300;
}

.perks__list__item__image{
    display: flex;
    justify-content: center;
}

/*  Insurance  & credit__service & Comfortable travel  */
.insurance ,
.credit__service,
.travel{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    flex-wrap: wrap;
}
.insurance__box,
.credit__service__box,
.travel__box{
    min-width: 350px;
    max-width: 350px;
    margin-right: 10px;
}



.insurance__box__shadow,
.credit__service__box__shadow,
.travel__box__shadow{
    display: flex;
    flex-direction: column;
    box-shadow: var(--shadow-box);
    width: 450px;
    height: 200px;
}

@media (min-width:578px) {
    .insurance__box__shadow,
    .credit__service__box__shadow,
    .travel__box__shadow{
        width: 405px;
    }
}

.insurance__box__image  img,
.credit__service__box__image img,
.travel__box__image img{
    border-radius: 8px 8px 0 0;
    overflow: hidden;
    width: 100%;
    -webkit-border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    -ms-border-radius: 8px 8px 0 0;
    -o-border-radius: 8px 8px 0 0;
}

.insurance__box__info,
.credit__service__box__info,
.travel__box__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
}

.insurance__box__info__desc,
.credit__service__box__info__desc,
.travel__box__info__desc{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.insurance__box__info__desc-img,
.credit__service__box__info__desc-img,
.travel__box__info__desc-img{
    width: 40px;
    height: 40px;
}

.insurance__box__info__desc-img img,
.credit__service__box__info__desc-img img ,
.travel__box__info__desc-img img{
    width: 100%;
}

.insurance__box__info__desc-p,
.credit__service__box__info__desc-p,
.travel__box__info__desc-p{}

.insurance__box__info__desc-p p,
.credit__service__box__info__desc-p p,
.travel__box__info__desc-p p{}

.insurance__box__info__buy,
.credit__service__box__info__buy,
.travel__box__info__buy{}

/* Weblog */

.weblog{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.weblog__box{
    display: flex;
    flex-direction: column;
}

.weblog__box__image{
    width: 450px;
    height: 240px;
}

.weblog__box__image img{
    width: 100%;
    border-radius:8px;
}

.weblog__box__info h2{
    font-weight: 500;
    color: #252a3c;
    text-align: right;
    padding-top: 8px ;
    padding-bottom: 8px;
}

.weblog__box__info p{
    color: var(--info-color);
    font-weight: 400;
}



footer{
    display: flex;
    flex-direction: column;
    padding: 32px 24px;
    gap: 20px;
}

.footer__nav ul{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.footer__nav ul li{
    cursor: pointer;
}

.footer__socials{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.footer__socials__icon{
    width: 28px;
    height: 28px;
}

.footer__trusts{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.footer__trusts__item{
    display: flex;
    justify-content: center;
    align-items: center;
}