/* Reset style */
*{
padding: 0;
margin: 0;
box-sizing: border-box;
}


/* Variables */
:root{
    --primary-color: #21aa58;
    --border-color: #f7f7f7;
    --bg-white:#fff;
    --bg-main-color: #eeefff;
    --black: #000;
    --size-xs: 376px;
    --size-sm: 578px;
    --size-md: 768px;
    --size-lg: 992px;
    --size-xl: 1200px;
}

html,body{
    font-family: IRANSans, Arial, Helvetica, sans-serif;
}

ul{
    list-style: none;
    }
    
    a,
    a:active,
    a:link{
        text-decoration: none;
        color:inherit;
        cursor: pointer;
    }

    .no-action{
        pointer-events: none;
    }
.container{
    /* max-width: var(--size-xl); */
    max-width: 1318px;
}

.header{
    padding: 20px 32px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--bg-white);
}

.header_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 28px;
    margin: 0 auto;
}

@media (min-width:992px) {
    .header{
        padding: 30px 0;
    }

    .header_container{
        justify-content: flex-start;
    }
}

.header__logo{
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__logo a{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width:992px) {
    .header__logo{
        order: -1;
        }
}

.header_menu_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
}

@media (min-width:992px) {
    .header_menu_icon{
       display: none;
        }
}

.header__menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__menu .header_menu_icon svg{
    fill: var(--primary-color);
}

.header__menu__nav{
    display: none;
}

@media (min-width:768px) {
    .header__menu__nav{
        display: flex;
        align-items: center;
        gap: 32px;
    }

    .header__menu__nav .header__menu__nav__items{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        position: relative;
    }

    .header__menu__nav .header__menu__nav__items .header__menu__nav__items__link {
        font-size: 16px;
        font-weight: 300;
    }

    .header__menu__nav__items__icon{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        cursor: pointer;
    }

    .header__menu__nav__items__dropdown{
        background-color: var(--bg-white);
        border: 2px solid var(--border-color);
        border-radius: 10px;
        position: absolute;
        top: 30px;
        padding: 10px;
        width: 150px;
        display: none;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    .header__menu__nav__items__dropdown ul{
        display: flex;
        flex-direction: column;
        gap: 15px;
        font-weight: 100;
        cursor: pointer;
    }

    .header__menu__nav__items:hover  .header__menu__nav__items__dropdown {
        display: block;
    }

    .header__menu__nav__items__dropdown ::before{
        content: "";
        height: 20px;
        background-color: red;
        position: absolute;
        top: -20px;
        right: 0;
        left: 0;
        opacity: 0;
    }
}

main{
    height: 100vh;
    background-color: var(--bg-main-color);
}

footer{
    display: flex;
    flex-direction: column;
    padding: 32px 24px;
    gap: 20px;
}

.footer__nav ul{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.footer__nav ul li{
    cursor: pointer;
}

.footer__socials{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.footer__socials__icon{
    width: 28px;
    height: 28px;
}

.footer__trusts{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.footer__trusts__item{
    display: flex;
    justify-content: center;
    align-items: center;
}